<div class="container">
  <!-- Recommendations Section -->
  <div class="col-12">
    <h3>Today's Recommendations</h3>
    <div class="row">
      {{#each bookLimit as |book|}}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/book/{{book.id}}">{{book.title}}</a>
            </h5>
            <p class="card-text">
              <strong>Author:</strong> {{book.author}}
            </p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="text-center">
      <a href="/bookList" class="btn btn-primary mt-4">Browse All Books</a>
    </div>
  </div>

  <!-- Reviews Section -->
  <div class="col-12 mt-5">
    <h3>Check out these reviews by users of our site!</h3>
    <div class="row">
      {{#each reviewLimit as |review|}}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{review.bookTitle}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Reviewed by: {{review.readerName}}</h6>
            <p class="card-text">
              <strong>Rating:</strong> {{review.rating}}/5
            </p>
            {{!-- <p class="card-text">{{review.review_text}}</p> --}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>




